@font-face {
  font-family: 'Noto Sans Only JP';
  src: url('~assets/font/NotoSansOnlyJP.woff2') format("woff2");
  font-display: swap;
}

$body-font-family: "Noto Sans Only JP", YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
